*{box-sizing: border-box;}

/*
.col_1{width: 8.33%;}
.col_2{ width: 16.66%;}
.col_3{ width: 25%;}
.col_4{ width: 33.33%;}
.col_5{width: 41.66%;}
.col_6{width: 50%;}
.col_7{width: 58.33%;}
.col_8{width: 66.66%;}
.col_9{width: 75%;}
.col_10{width: 83.33%;}
.col_11{width: 91.66%;}
.col_12{width: 100%;}
*/

@media(min-width: 0px){
    .col_1s{width: 8.33%;}
    .col_2s{ width: 16.66%;}
    .col_3s{ width: 25%;}
    .col_4s{ width: 33.33%;}
    .col_5s{width: 41.66%;}
    .col_6s{width: 50%;}
    .col_7s{width: 58.33%;}
    .col_8s{width: 66.66%;}
    .col_9s{width: 75%;}
    .col_10s{width: 83.33%;}
    .col_11s{width: 91.66%;}
    .col_12s{width: 100%;}
}

@media(min-width: 768px){
    .col_1m{width: 8.33%;}
    .col_2m{ width: 16.66%;}
    .col_3m{ width: 25%;}
    .col_4m{ width: 33.33%;}
    .col_5m{width: 41.66%;}
    .col_6m{width: 50%;}
    .col_7m{width: 58.33%;}
    .col_8m{width: 66.66%;}
    .col_9m{width: 75%;}
    .col_10m{width: 83.33%;}
    .col_11m{width: 91.66%;}
    .col_12m{width: 100%;}
}
[class*="col_"]{
    float: left;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.img_fluid{
    max-width: 100%;
    height: auto;
}
.flex_container{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Alinear elementos de manra horizontal*/
    /*justify-content: space-between;*/
    height: 400px;
    /*Alinear elementos de manera vertical*/
    /*align-items: flex-start;*/
    align-content: center;
    justify-content: center;
}
.flex_container div{
    background-color: rgba(22, 99, 146, 0.801);
    font-size: 2em;
    padding: 0.5em;
    margin: 0.25em;
}
.border{
    border: solid 1px black;
}